*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

build
vendor
logs
third_party/etcd
*.swp
.idea
.DS_Store
.bashrc
docker_build.log
docker_build.info
make_build.info