<yandex>
    <remote_servers>
        <bip_ck_cluster>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>ch-server-1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>ch-server-2</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>ch-server-3</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>ch-server-4</host>
                    <port>9000</port>
                </replica>
            </shard>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>ch-server-5</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>ch-server-6</host>
                    <port>9000</port>
                </replica>
            </shard>
        </bip_ck_cluster>
    </remote_servers>
    <zookeeper>
        <node>
            <host>zookeeper</host>
            <port>2181</port>
        </node>
    </zookeeper>
</yandex>
